[Unit]
Description=kartotherian - Renders map tiles
Documentation=https://github.com/kartotherian/kartotherian
After=network.target local-fs.target

[Service]
Type=simple
LimitNOFILE=10000
PIDFile=%t/kartotherian.pid
User=kartotherian
Group=kartotherian
WorkingDirectory=/usr/local/lib/node_modules/kartotherian
Environment="NODE_PATH='/usr/local/lib/node_modules/kartotherian/node_modules'" "KARTOTHERIAN_PORT=16532"
ExecStart=/usr/bin/nodejs server.js -c /etc/kartotherian/config.yaml
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kartotherian
TimeoutStartSec=5
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target

