[Unit]
Description=kartozoa - Kartotherian Tile Server Remix
Documentation=https://github.com/zoondka/kartozoa
After=network.target local-fs.target

[Service]
Type=simple
LimitNOFILE=10000
PIDFile=%t/kartozoa.pid
User=kartozoa
Group=kartozoa
WorkingDirectory=/usr/local/lib/node_modules/kartozoa
Environment="NODE_PATH='/usr/local/lib/node_modules/kartozoa/node_modules'" "KARTOZOA_PORT=16532"
ExecStart=/usr/bin/node server.js -c /etc/kartozoa/config.yaml
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kartozoa
TimeoutStartSec=5
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target

